@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";




@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import"components/bg-video";
@import"components/button";
@import"components/card";
@import"components/composition";
@import"components/feature-box";
@import"components/form";
@import"components/popup";
@import"components/story";


@import"layout/footer";
@import"layout/grid";
@import"layout/header";
@import"layout/navigation";


@import"pages/home";









.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom , #08051de6, #d6e0e699), 
    url(../image/aa.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


    &__logo-box{
        position: absolute;
        top: 1rem;
        left: 2rem;
    }
    &__logo{
        height: 20rem;
    
    
    
    }
    
    
    
    &__text-box{
        position: absolute;
        top:  50%;
        left: 50%;
        transform: translate(-40%, -50%);
        text-align: center;
    
    }
}





.heading-primary{
    color: #d6e0e6;
    text-transform: lowercase;
    font-weight: 400;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 100;
        letter-spacing: 2.7rem;
    
        animation: moveInLeft 1s ease-out;
    
    
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 0.3rem;
    
        animation: moveInRight 1s ease-out; 
    }

}






